.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 20vh);
  /* max-height: 100vh; */
  padding: 40px 20px;
  text-align: center;
  /* background: linear-gradient(to right, #e3e1fa, #f6f7ff); */
}

.home-title {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 24px;
  color: #4a47a3;
}

.home-description {
  font-size: 18px;
  color: #444;
  max-width: 600px;
  line-height: 1.6;
}

.home-description a {
  text-decoration: none;
  color: #4a47a3;
}
